<div class="grid p-fluid">
    <div class="col-12 lg:col-12">
        <div class="card">
            <h5>Reporte por plataforma</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-12">
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Gráfico por plataforma</h5>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
        </div>
    </div>
</div>
